body{
  font-family: 'Mukta', sans-serif;
  margin: 0%;
  background-color: #e7e7e7;
}

a {
  color: white;
  padding: 20px;
  filter: drop-shadow(2px 4px 6px black);
}

b {
  color: #14B47C;
  font-style: bold;
  font-weight: 800;
 }


 h2 {
  font-weight: 300;
}

.icons {
  list-style: none;
  padding: 10px;
  display: flex;
}

.resume-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
}

.resume-header {
  background-color: #14B47C;
  width: 100;
  height: 300px;
  color: white;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;}

.resume-header h1 {margin: 0%;} 

.resume-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 400px;
  }

.resume-body-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 70%;
  height: 400px;
  margin: -300px auto 0 auto;
  background-color: white;
  filter: drop-shadow(2px 4px 6px black);
  }

.resume-body-photo {
  width: 30%;
  height: 400px;
  background-size: cover;
  background-image: url('../resume/minha\ foto.jpeg');
  }

.first-content {
  color: black;
  width: 70%;
  height: 400px;
  margin: 0 auto;
  font-weight: 100;
}

.second-content {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
    }

.questions {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-weight: bold;
  list-style: none;
  text-align: left;
  color: black;
}

.answers {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  color: black;
}

.third-content {
  background-color: #14B47C;
  display: flex;
  /* width: 40%; */
  height: 20%;
  border :none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: stretch;
}

.box {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 70%;
  height: 400px;
}

.title {
  color: #14B47C;
  font-weight: 600;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.skills {
  background-color: white;
  color: black;
  width: 70%;
  height: 400px;
  margin: 0 auto;
  font-weight: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  filter: drop-shadow(2px 4px 6px black);
}

.description {
  width: 25%;
  height: 400px;
  padding: 30px;
}

.percentage {
  width: 50%;
  height: 400px;
  margin: 0 auto;
}

.percentage-photo {
  width: 60%;
  height: 400px;
  background-size: cover;
  background-image: url('../resume/percentage.jpeg');
  }